body {
    font-family: Arial, sans-serif;
    background: url('https://images.contentstack.io/v3/assets/bltb6530b271fddd0b1/blt3fffb73d23d87d08/5efb8b0540426d0f56b44fe8/SUB_KV.jpg') no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #ffffff;
}

.container {
    background-color: rgba(31, 31, 31, 0.85); /* Semi-transparent background */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    width: 100%;
    max-width: 500px;
}


.header h3 {
    margin: 0;
    padding-bottom: 20px;
    border-bottom: 1px solid #333333;
}

form {
    margin-top: 20px;
}

label {
    font-weight: bold;
    margin-top: 10px;
    display: inline-block;
}

input[type="text"],
input[type="email"],
textarea,
select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #555555;
    border-radius: 5px;
    background-color: #2a2a2a;
    color: #ffffff;
}

input[type="radio"] {
    margin-right: 10px;
}

button {
    background-color: #ff4655;
    color: #ffffff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #e94040;
}
